[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CircSpaceTime"]
	path = CircSpaceTime
	url = https://github.com/santoroma/circspacetime
